# Association Rules: Market Basket Analysis

## Import Libraries

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load Dataset

Dataset obtained from [here](https://archive.ics.uci.edu/ml/datasets/Online+Retail+II).

<font color="red">Load in your data. Make sure to also set `encoding="ISO-8859-1"` as one of the `read_csv` parameters.</font>

In [13]:
df = pd.read_excel('datasets/online_retail.xlsx')

In [14]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [15]:
df.shape

(525461, 8)

We have 8 features and 541,910 rows.  
Looking at the source, this data comes from a UK-based online retail store selling gift-ware.  
  
Feature information:
- InvoiceNo: Invoice number. Nominal. A 6-digit integral number uniquely assigned to each transaction. If this code starts with the letter 'c', it indicates a cancellation.
- StockCode: Product (item) code. Nominal. A 5-digit integral number uniquely assigned to each distinct product.
- Description: Product (item) name. Nominal.
- Quantity: The quantities of each product (item) per transaction. Numeric.
- InvoiceDate: Invice date and time. Numeric. The day and time when a transaction was generated.
- UnitPrice: Unit price. Numeric. Product price per unit in sterling (Â£).
- CustomerID: Customer number. Nominal. A 5-digit integral number uniquely assigned to each customer.
- Country: Country name. Nominal. The name of the country where a customer resides.

## Pre-processing

### Drop nulls

<font color="red">Drop nulls</font>

In [23]:
df_cleaned = df.dropna()

df_cleaned.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [25]:
df.shape

(525461, 8)

We have 406,840 rows left after dropping any row with null values.

### Filter to only include positive quantities

In [29]:
df['Quantity'].unique()

array([   12,    48,    24,    10,    18,     3,    16,     4,     2,
           6,     8,     1,    28,    30,    60,    32,    56,     9,
          25,    36,    20,   -12,    -6,    -4,   -24,    -3,    -2,
         576,   288,    27,   -96,    64,   160,  -240,  -192,     5,
          -1,    72,    50,    54,   -50,     7,   800,    11,    58,
         192,    96,   144,   100,   180,   216,    15,   240,    22,
         108,    33,    90,    81,   -81,   -48,    17,    -5,    14,
          13,    40,    -8,    -9,    21,   120,   -44,   230, -1043,
        -117,   200,   168,    19,   280,   128,  -150,   -18,   -23,
          80,   300,   450,    61,  -770,  -720,   480,    -7,    88,
          46,   -31,   -16,   954,  -954,  -200,   504,    45,   467,
       -1012,  4320,  5184,  4008,   -25,   600,   505,   500,    23,
          74,    47,   -89,   432,   252,    75,   184,  -600,  -504,
        -252,  -246,  -169,    31,    38,  -106,   -36,   360,   107,
          49,   -42,    42,    66,   -10,  -725,   222,    34,    52,
         270,   -20,   -30,   -60,  3000,   400,    70,   936,   -32,
        -120,    35,  -126,   -64,  -168,  -100,   256,  -108,   -67,
        -360,  1500,    65,   -58,   320,   130,    26,   -45,   -54,
        1002,  1080,   -46,    29,  -136, -1395,   -13,    67,  -350,
         960,   864,   150,   126,   468,  -322,   -76,   -21,   -99,
         336,   -29,   -17,   208,   334,   124,   125,   117,   -47,
         -39,    39,  -396,    55,  -152,   -11,    78,   -70,   -38,
         -19,  -144,   250,   -91,  2300,   520,   920,  1800,   152,
          76,    79,   187,   453,   348,   445,   784,    37,  2000,
         174,   163,    77,   350,   526,    86,  -113,  -207,    43,
         316,  -632,    98,   112,    59,   -14,  -292,   -15,   -84,
          89,  -104,  -450,   408,   -43,  1440,   832,   624,   204,
         198,   608,   224, -2127,   -95,  -260,   720,   900,  -159,
        -275,   -71,   -22,   -75,  -116,   -90,  -514,   271,    41,
         264,   225,   104,   312,   164,  -428,   214,   -68,  -512,
        -290,  -300,   303,   110,  -190,   -72,   284,   118,    71,
        -160,   429,  -400,  1146,  -109,  -181,   -27,   -40,  6012,
         866,  6144,  2040,  2520,  3888,  5280,  4800,  6768,  9312,
       -1198, -1129,  -378,  -170,  -148,  -121,  -179,   384,   185,
         -37,   -57,    44,  -171,   -66, -3669,  -211,   132,  -132,
         -65,   219,  -141,   -26,   229,    62,    82,   114,  -243,
         -51,   260,  -441,   156,  -284,   460,   -80,    84,   106,
        -460,   374,   190,  -191,   -79,  -210,   -86,   484,   171,
       19152,  3312,  1344,  2504,  1968,   482,  4176,  2880,  6696,
        1200,  1400,  4200,   696,  3360,  3200,  3040,  2700,   115,
          51,   -82,  -377,  -451, -2504,  9456,  -342, -4200,   176,
          53,   -53,  -142,  -110,   -28,  -352,  -128,  -330,  -700,
         700,   -62,   347,  1008,  -118,   -34,   -33,  -146,  -129,
        -115,   140,   -69,   -63,   -56,   -61,  -455,  -432,  -212,
        2472,   524,  -499,  -355,  -280,  -420,  -130,   -52,   -93,
        -299,  -245,   -85,   -78,  -198,  -283,   -97,  -338,  -140,
        -800, -1782,  -205,   141,   537, -3300,   129,  -122,  -310,
        -250,   -35,   -59,   -49, -2916,  -370,    99,   205,   247,
        -233,   420,   372,  2016,  -134,    87,   992, 12960, 12480,
       12744,  1110,  4608,  5364,  1152,    68,    91,   148, -1060,
        1000,   640,   -92,  -900,  -394, 10000,   -74, -5200, -5000,
         899,  -161,  -328,  -127,   135,   -41,   840,   816,  -267,
       -3140,   210,   161,   188,   145,   189,    73,   363,   234,
          93,    83,   101,    57,   267,   324,   648,    85,  -112,
        -716,  -114,  -276,   -55,   102,  -408, -1020, -9200, -1440,
       -1800, -4800,   498,   768,  -288,  -204,   681,   528,  2651,
         327, -1120,   246,   516,  -135,  -173,  -218,   -88,   299,
        3600,   -98,  -234,  -145,  -257,   560, -3000,  -843,    97,
        -180,  -626,  -309, -3340,   392,   -73,   396,   612, 10200,
         -87,   322, -2200,  -119,  -359,  -259,  -201,  -125,   279,
        -966,  -101,  -143,  -194, -1000,  -105,  -220,  -225, -9000,
        -193, -2300,   195,  -500,  -156,   105,   175,  -480,  -312,
         404,   136, -1200,  -235,   598,  -111,  -163,  -196,   680,
         540,  5000,  2500,  -244,   808,  2664,  1728,   228,  2972,
        1098,  1128,   684,  -590,   -77,  -440,   142,   276,  -851,
        -230,   207,  -123,  -164,   134,   830,  -830,   730,   122,
         293,  3500,   287,  -588,  -399,  -285,  1056,   220,   352,
       -1158,   850,  -107,  2400,  -266,   170,  -576,  -320,  -648,
         248,   330,  -155, -7100,  -239,    95,  -137,  -256, -7000,
        -151,  -153,  -264,  -599,  2560,   113, -2560,   235,  -162,
         387,  -387,  -206,  2304,  1120,  6000,  9600,   985, -1227,
        3936,  2976,  4752,  1872,  1116,   567,   984,  1308,  2112,
        2952,  4992,  2496,  3648,  1536,  1248,  1632,  7008,  7128,
        3072,   444,  3744,  1104,    63, -4999,   239,   123,   157,
         159,  -410, -6000, -9600,  -295,  -412, -1400,  -470,   143,
         138,   149,   177,  -231,  1520, -1520,  -315,   254,   121,
        -317,   394,   201,   103,  1920,  3960,  -999, -1480,  -242,
        -364, -4354,   876,   756,  -575,   672,  -324,  2004,  -728,
        1512,   704,   760,   464, -5184, -1248, -1536,  -864, -3648,
       -2496, -4992, -2952, -2112, -1308,  -984,  -768,  -684,  -567,
       -1116,  -372, -1872, -4752, -4320, -1104,  -960, -4608, -2000,
       -3744,  -444, -3072, -7128, -7008, -1632, -2976, -3936,   139,
         162,   448,   304,  -569,  3120,  1224,   196,   402,   625,
        -390,  -178,  -166,   109,  1240,   155,  -216, -1152,  -174,
        -384,   888,  -223,  -490,   137, -1609,   512, -1500,  1944,
        1960,  9360,  6336,  -270, -8800, -6400,   203,   407,   367,
         274,    94,   111,   585,   127,  1540,   286,   131,   354,
        -258,   169,   486,   243,  -189,   154,   563,   290,   328,
         513,   133,   119,   902,   242,   874,   835,   151,   165,
         389,   236,   317,   441,   213,   212, -2400,  1680,  -327,
        -248,  1584,   555,  -411,  -213,    69, -9360,  1824,   378,
         258,   972,  1488,  1394,  -723,  -177], dtype=int64)

It is possible for a customer to cancel their order, resulting in a negative quantity. We only want to look at items the customers have actually purchased, so we will remove any negatives (or cancelled orders).

In [32]:
df = df[df['Quantity']>1] # this allows us to filter only rows where quantity > 1

In [34]:
df.shape

(367017, 8)

After filtering, we have a remaining 397,925 rows.

### Filter to only UK transcations

In [ ]:
df['Country'].value_counts()

<font color="red">Filter the dataframe to include only transactions from the United Kingdom</font>

In [38]:
df_uk = df_cleaned[df_cleaned['Country'] == 'United Kingdom']

In [40]:
df_uk.shape, df_uk['Country'].value_counts()

((379423, 8),
 Country
 United Kingdom    379423
 Name: count, dtype: int64)

Now we should have 282,944 rows left.

But, each row is an individual item in a given transaction. To work with Apriori algorithm, we want each row to be a transaction along with all the purchased items.

### One Hot Encoding of our items

In [45]:
df.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

We just want a table with each row being an individual invoice, and each column being the various items (0 if not purchased, 1 if purchased). The exact quantity does not matter since we have already filtered out those more than 0 (meaning it was purchased).

In [48]:
df_enc = df[['Invoice','Description']].pivot_table(index=['Invoice'], columns=['Description'], aggfunc=[len], fill_value=0)

TypeError: '<' not supported between instances of 'str' and 'int'

There are some instances of 2's and 3's, etc... instead of just 1's. So we will clean that as well.

In [ ]:
def encode(x):
    if x >= 1:
        return 1
    # else
    return 0

In [ ]:
df_enc = df_enc.applymap(encode)

In [ ]:
df_enc

Let's briefly check this with our first invoice: 536365  
The below shows the sum of different items purchased for each invoice.

In [ ]:
df_enc[df_enc == 1].sum(axis=1)

When checking below, we see that invoice 536365 had 7 different items.

In [ ]:
df.head(10)

### Filter out transactions with only one purchase

Before we run Apriori algorithm, we only want to perform this on transactions that had more than one purchase. When looking for assocation rules, we are looking for what purchased items are related to each other. If a transaction only has one purchase, this doesn't help us much. *So we will simply remove those transactions.* :)

In [64]:
df_enc = df_encoded[(df_encoded[df_encoded == 1]).sum(axis=1) > 1]
df_enc

NameError: name 'df_encoded' is not defined

Originally, we had 16,649 rows of transactions. After filtering, we now have 15,371 rows.

## Apriori Algorithm

We can use the `mlxtend` library to apply the Apriori Algorithm. We will first install the package and then load it in.  
  
If you are interested in seeing how this works, you can also view their Github [here](https://github.com/rasbt/mlxtend). The more specific area on Apriori is [here](https://github.com/rasbt/mlxtend/tree/master/mlxtend/frequent_patterns).

### Load our library

In [66]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.23.2-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\jandr\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jandr\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jandr\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jandr\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\jandr\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\jandr\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Downloading mlxtend-0.23.2-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 23.2 MB/s eta 0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.2

In [67]:
from mlxtend.frequent_patterns import apriori, association_rules

### Find frequent itemsets

<font color="red">Before continuing, take a look at the documentation for our `apriori` method.</font>

In [74]:
apriori?

Signature:
apriori(
    df,
    min_support=0.5,
    use_colnames=False,
    max_len=None,
    verbose=0,
    low_memory=False,
)
Docstring:
Get frequent itemsets from a one-hot DataFrame

Parameters
-----------
df : pandas DataFrame
  pandas DataFrame the encoded format. Also supports
  DataFrames with sparse data; for more info, please
  see (https://pandas.pydata.org/pandas-docs/stable/
       user_guide/sparse.html#sparse-data-structures)

  Please note that the old pandas SparseDataFrame format
  is no longer supported in mlxtend >= 0.17.2.

  The allowed values are either 0/1 or True/False.
  For example,

```
         Apple  Bananas   Beer  Chicken   Milk   Rice
    0     True    False   True     True  False   True
    1     True    False   True    False  False   True
    2     True    False   True    False  False  False
    3     True     True  False    False  False  False
    4    False    False   True     True   True   True
    5    False    False   True    False   True   True
    6    False    False   True    False   True  False
    7     True     True  False    False  False  False
```

min_support : float (default: 0.5)
  A float between 0 and 1 for minumum support of the itemsets returned.
  The support is computed as the fraction
  `transactions_where_item(s)_occur / total_transactions`.

use_colnames : bool (default: False)
  If `True`, uses the DataFrames' column names in the returned DataFrame
  instead of column indices.

max_len : int (default: None)
  Maximum length of the itemsets generated. If `None` (default) all
  possible itemsets lengths (under the apriori condition) are evaluated.

verbose : int (default: 0)
  Shows the number of iterations if >= 1 and `low_memory` is `True`. If
  >=1 and `low_memory` is `False`, shows the number of combinations.

low_memory : bool (default: False)
  If `True`, uses an iterator to search for combinations above
  `min_support`.
  Note that while `low_memory=True` should only be used for large dataset
  if memory resources are limited, because this implementation is approx.
  3-6x slower than the default.


Returns
-----------
pandas DataFrame with columns ['support', 'itemsets'] of all itemsets
  that are >= `min_support` and < than `max_len`
  (if `max_len` is not None).
  Each itemset in the 'itemsets' column is of type `frozenset`,
  which is a Python built-in type that behaves similarly to
  sets except that it is immutable
  (For more info, see
  https://docs.python.org/3.6/library/stdtypes.html#frozenset).

Examples
-----------
For usage examples, please see
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
File:      c:\users\jandr\anaconda3\lib\site-packages\mlxtend\frequent_patterns\apriori.py
Type:      function

<font color="red">Create a variable called `freq_itemsets` to save our results from the `apriori` method call. In this call, set `df_enc` as our DataFrame, `min_support` to be `0.03`, and `use_colnames` to `True`.</font>

In [77]:
from mlxtend.frequent_patterns import apriori

freq_itemsets = apriori(df_encoded, min_support=0.03, use_colnames=True)

import ace_tools as tools; tools.display_dataframe_to_user(name="Frequent Itemsets", dataframe=freq_itemsets)

C:\Users\jandr\anaconda3\Lib\site-packages\executing\executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
C:\Users\jandr\anaconda3\Lib\ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)
C:\Users\jandr\anaconda3\Lib\site-packages\executing\executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
C:\Users\jandr\anaconda3\Lib\ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)

NameError: name 'df_encoded' is not defined

In [ ]:
freq_itemsets.sort_values('support', ascending=False)

### Find the association rules

<font color="red">Again, take a look at the documentation for our `association_rules` method before continuing.</font>

In [79]:
association_rules?

Signature:
association_rules(
    df: pandas.core.frame.DataFrame,
    num_itemsets: int,
    df_orig: Optional[pandas.core.frame.DataFrame] = None,
    null_values=False,
    metric='confidence',
    min_threshold=0.8,
    support_only=False,
    return_metrics: list = ['antecedent support', 'consequent support', 'support', 'confidence', 'lift', 'representativity', 'leverage', 'conviction', 'zhangs_metric', 'jaccard', 'certainty', 'kulczynski'],
) -> pandas.core.frame.DataFrame
Docstring:
Generates a DataFrame of association rules including the
metrics 'score', 'confidence', and 'lift'

Parameters
-----------
df : pandas DataFrame
  pandas DataFrame of frequent itemsets
  with columns ['support', 'itemsets']

df_orig : pandas DataFrame (default: None)
  DataFrame with original input data. Only provided when null_values exist

num_itemsets : int
  Number of transactions in original input data

null_values : bool (default: False)
  In case there are null values as NaNs in the original input data

metric : string (default: 'confidence')
  Metric to evaluate if a rule is of interest.
  **Automatically set to 'support' if `support_only=True`.**
  Otherwise, supported metrics are 'support', 'confidence', 'lift',
  'leverage', 'conviction' and 'zhangs_metric'
  These metrics are computed as follows:

  - support(A->C) = support(A+C) [aka 'support'], range: [0, 1]

  - confidence(A->C) = support(A+C) / support(A), range: [0, 1]

  - lift(A->C) = confidence(A->C) / support(C), range: [0, inf]

  - leverage(A->C) = support(A->C) - support(A)*support(C),
    range: [-1, 1]

  - conviction = [1 - support(C)] / [1 - confidence(A->C)],
    range: [0, inf]

  - zhangs_metric(A->C) =
    leverage(A->C) / max(support(A->C)*(1-support(A)), support(A)*(support(C)-support(A->C)))
    range: [-1,1]


min_threshold : float (default: 0.8)
  Minimal threshold for the evaluation metric,
  via the `metric` parameter,
  to decide whether a candidate rule is of interest.

support_only : bool (default: False)
  Only computes the rule support and fills the other
  metric columns with NaNs. This is useful if:

  a) the input DataFrame is incomplete, e.g., does
  not contain support values for all rule antecedents
  and consequents

  b) you simply want to speed up the computation because
  you don't need the other metrics.

Returns
----------
pandas DataFrame with columns "antecedents" and "consequents"
  that store itemsets, plus the scoring metric columns:
  "antecedent support", "consequent support",
  "support", "confidence", "lift",
  "leverage", "conviction"
  of all rules for which
  metric(rule) >= min_threshold.
  Each entry in the "antecedents" and "consequents" columns are
  of type `frozenset`, which is a Python built-in type that
  behaves similarly to sets except that it is immutable
  (For more info, see
  https://docs.python.org/3.6/library/stdtypes.html#frozenset).

Examples
-----------
For usage examples, please see
https://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/
File:      c:\users\jandr\anaconda3\lib\site-packages\mlxtend\frequent_patterns\association_rules.py
Type:      function

In [81]:
association_rules(freq_itemsets, metric="confidence", min_threshold=0.60, num_itemsets = len(df_enc)).sort_values("confidence", ascending=False)

C:\Users\jandr\anaconda3\Lib\site-packages\executing\executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
C:\Users\jandr\anaconda3\Lib\ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)
C:\Users\jandr\anaconda3\Lib\site-packages\executing\executing.py:713: DeprecationWarning: ast.Str is deprecated and will be removed in Python 3.14; use ast.Constant instead
  right=ast.Str(s=sentinel),
C:\Users\jandr\anaconda3\Lib\ast.py:587: DeprecationWarning: Attribute s is deprecated and will be removed in Python 3.14; use value instead
  return Constant(*args, **kwargs)

NameError: name 'freq_itemsets' is not defined

With a minimum confidence threshold of 60%, this is what we have (above).  
If someone buys a *green regency teacup and saucer* they are likely to also buy a *roses regency teacup and saucer*.

<font color="red">What if we look at a confidence threshold of 20%? What are some other rules?</font>

In [127]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(freq_itemsets, metric="confidence", min_threshold=0.20)

rules_sorted = rules.sort_values("confidence", ascending=False)
import ace_tools as tools; tools.display_dataframe_to_user(name="Association Rules with Confidence >= 20%", dataframe=rules_sorted)

## Conclusions

<font color="red">Discuss, based on the association rules found above, what are some strategies this online store could employ to increase sales?</font>

To increase sales, the online store can bundle items that are often bought together, like matching teacups, and offer discounts to encourage customers to buy more. They can show product suggestions like "People who bought this also bought that" on the website and in emails. Special promotions, like "Buy one, get 20% off another," can attract more purchases. Grouping related items into easy-to-find collections and sending personalized follow-up emails can also help. Seasonal sales, like holiday bundles, and loyalty rewards for buying sets can make shopping more exciting. These strategies make it easier and more fun for customers to shop while increasing the store’s profits.